body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}
header {
  background-color: #fffcfb;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #15120c;
  border-radius: 0 0 50% 50%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.navbar-element {
  margin: 0 20px;
  list-style: none;
  margin-top: 20%;
}

.navbar-candle img {
  width: 30px;
  height: 50px;
  align-items: center;
  /* background-image: url("https://cdn-icons-png.flaticon.com/512/299/299557.png"); */
  /* background-size: cover; */
  position: relative;
}

.navbar-candle:nth-child(1) {
  margin-left: 5%;
  margin-top: -1%;
 
}

.navbar-candle:nth-child(2) {
  /* left: calc(50% - 60px); */
  margin-top: -5%;
  margin-left: -5%;
 
}

.navbar-candle:nth-child(3) {
  /* left: calc(40% + 40px); */
  margin-top: -1%;
}

.navbar-candle:nth-child(4) {
  right: 0;
  transform: scaleX(-1);
  margin-top: -4%;
}

.navbar-element a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.navbar-element img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.navbar-element img:nth-child(1) {
  margin-right: 45%;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
  }

  .navbar:before {
    top: -20px;
    height: 60px;
  }

  .navbar-candle {
    width: 20px;
    height: 40px;
  }
  .navbar-candle:nth-child(1) {
    margin-top: -10%;
    
  }

  .navbar-candle:nth-child(2) {
    left: calc(50% - 40px);
    margin-top: -30%;
  }

  .navbar-candle:nth-child(3) {
    left: calc(50% + 10px);
    margin-top: -9%;
  }

  .navbar-candle:nth-child(4) {
    right: 0;
    margin-top: -30%;
  }

  .navbar-element {
    margin: 10px;
  }

  .navbar-element a {
    height: 40px;
    width: 40px;
  }
  
  .navbar-element img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }}

  @media (max-width: 540px){
    .navbar-candle:nth-child(1) {
      margin-top: -15%;
      margin-left: 0;
  }
  .navbar-candle:nth-child(3) {
    margin-top: -15%;
}}
@media (max-width: 350px){
  .navbar-candle:nth-child(1) {
    margin-top: -25%;
    margin-left: 0;
}
.navbar-candle:nth-child(3) {
  margin-top: -25%;
}}

  
  
  
  
  
  

